/* body {
    background-color: black;
    color: rgb(248, 245, 245);
}

.blurb {
    color: white;
} */

.blurb-smaller {
    font-size: 1.8rem;
    font-style: italic;
}

.blurb-smallest {
    font-size: .9rem;
    font-style: italic;
}